<section id="numerology" style="background-color: bisque">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <h1><strong>Numerology</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="clearfix">
            </div>
            <div class="row">
                <div class="span12">
                    <h3><strong>Your Date of Birth and Number as per Numerology</strong></h3>
                    <p>
                        Numerology is the predictive science which uses numbers just as astrology uses the planets. The numbers have their own vibrations which produce various effects and influences on us. The ancient Indian Sankhya Sastra and Anka Shastra deals with this. The
                        numbers from one to nine are used to give predictions by totaling the numbers in ones birth date.
                    </p>
                    <p>
                        Only date based number ( like 12 etc in any month) is called your <strong style="color: blue">psychic number/driver</strong> and is used to judge <strong style="color: blue">interpersonal relations</strong> with spouse, relatives
                        and friends etc.
                    </p>
                    <p>
                        Your full date of birth number (like 12-5-1986 etc) is called your <strong style="color: blue">destiny number/conductor</strong> and is used for matters related to your <strong style="color: blue">profession, finance</strong> etc.
                    </p>
                    <p>
                        <strong>
                            The sound vibrations produced by the alphabets of one's name also have affinity with the vibrations of the numbers.
                        </strong>
                        <br>Hence by totaling the numbers of your full name, as given at birth by your parents or relatives, a number is arrived at and it is called your <strong>soul number</strong> and reveals your personality and traits.
                    </p>
                    <p>
                        <strong>EXAMPLE</strong>
                    </p>
                    <p style="color: red; text-align: center">
                        Date of Birth-> 12-05-1986 <br>psychic number-> 1+2=3 <br>destiny number->1+2+5+1+8+6=23 -> 2+3=5
                    </p>
                    <p>
                        <strong style="color: crimson">NOTE:</strong> If the digit 9 in any date is added with other digits of the date, it gives the same destiny number.<br> for example, in the above example if the digits are added like this : <br>
                        <p style="color: red; text-align: center">1+2+5+1+9+1+8+6=32 -> 3+2=5</p>
                        <p>Here we get the same destiny number. Hence it is not added while calculating numerology.
                        </p>
                </div>

                <div class="span12">
                    <h3><strong>Number 1 as per Numerology</strong></h3>
                    <p>
                        The number 1 suggests that you entered this plane with skills allowing you to become a leader type rather easily. Your nature is charged with individualistic desires, a demand for independence, and the need for personal attainment.
                    </p>
                    <p>
                        You are at your best when confronted with obstacles and challenges, as you combat these with strength and daring. This is both the physical and inner varieties of strength. With this strength comes utter determination and the capability to lead. As a
                        natural leader you have a flair for taking charge of any situation. You have a tendency to do this, even if, at times, it is not appropriate for you to do so.
                    </p>
                    <p>
                        If you are expressing this negative trait of the number 1, you are likely to be very dissatisfied with your circumstances, and long for self-sufficiency. This might be defined as the weak or dependent side of the negative 1 Life Path. On the strong side
                        of this negative curve, the 1 energy can become too self-serving, selfish and egotistical.
                    </p>

                </div>

                <div class="span12">
                    <h3><strong>Number 2 as per Numerology</strong></h3>
                    <p>
                        The number 2 suggests that you entered this plane with a spiritual quality in your makeup allowing you to be one of the peacemakers in society. Your strengths come from an ability to listen and absorb. You are a fixer, a mediator, and a very diplomatic
                        type of person using persuasive skills rather than forcefulness to make your way in the world. When you embrace and exhibit the strength of your spiritual side, you are intuitive, avant-garde, idealistic, and visionary.
                    </p>
                    <p>
                        On the negative side of the 2, nervous energy is a trait often observed in the 2. Indeed, the 2 can sometimes become oversensitive. In some instances, the strength of the 2 can also become its weakness. You may find it hard to decide what to do at times.
                        The biggest obstacle and difficulty you may face is that of passivity and a state of apathy and lethargy. The negative 2 can be very pessimistic.
                    </p>
                </div>

                <div class="span12">
                    <h3><strong>Number 3 as per Numerology</strong></h3>
                    <p>
                        The number 3 indicates that you entered this plane with a strong sense of creativity and with wonderful communication skills. Achievement for you most likely comes through engaging your ingenious expression.
                    </p>
                    <p>
                        The negative side of this 3 may be so delighted with the joy of living that the life becomes frivolous and superficial. You may scatter your abilities and express little sense of purpose.
                    </p>
                </div>
                <div class="span12">
                    <h3><strong>Number 4 as per Numerology</strong></h3>
                    <p>
                        The number 4 suggests that you entered this plane with a natural genius for planning, fixing, building, and somehow, with practical application and cerebral excellence, making things work. You are one of the most trustworthy, practical, and down-to-earth
                        of individuals; the cornerstone members of society.
                    </p>
                    <p>
                        The negative side of the 4 can prove dogmatic to an excess, narrow-minded, and repressive. A lot of skin-deep people turn you off, and you lack the tact to keep your feelings from being totally clear to all around.
                    </p>
                </div>
                <!-- </div> -->
                <div class="span12">
                    <h3><strong>Number 5 as per Numerology</strong></h3>
                    <p>
                        The number 5 suggests that you entered this plane with a highly progressive mindset, with the attitude and skills to make the world a better place. The key word for your number is freedom. In the pursuit of freedom, you are naturally versatile, adventurous,
                        and advanced in your thinking.
                    </p>
                    <p>
                        If you are living on the negative side of the number 5, you are apt to be multitalented, but suffering from some lack of direction, and there is confusion surrounding your ambition. Restless, discontent, and impulsive, you may bounce from one job to the
                        next without accomplishing much at all.
                    </p>
                </div>
                <div class="span12">
                    <h3><strong>Number 6 as per Numerology</strong></h3>
                    <p>
                        The number 6 suggests that you entered this plane with tools to become the ultimate nurturer, and a beacon for truth, justice, righteousness, and domesticity. Your paternal, or maternal, as the case may be, instincts with a 6 number exceed all others
                        by a considerable margin.
                    </p>
                    <p>
                        The number 6 actually produces few negative examples, but there are some pitfalls peculiar to the path. You may have a tendency to become overwhelmed by responsibilities and a slave to others, especially members of you own family or close friends.
                    </p>
                </div>
                <div class="span12">
                    <h3><strong>Number 7 as per Numerology</strong></h3>
                    <p>
                        The number 7 suggests that you entered this plane with a gift for investigation, analysis, and keen observation. You are a thinker of the first order. You evaluate situations very quickly, and with amazing accuracy. </p>
                    <p>
                        In the most negative use of the 7 energies, you can become very pessimistic, lackadaisical, quarrelsome, and secretive.
                    </p>
                </div>
                <div class="span12">
                    <h3><strong>Number 8 as per Numerology</strong></h3>
                    <p>
                        The number 8 suggests that you entered this plane armed to lead, direct, organize and govern. You are very ambitious and goal-oriented. You will want to use your ambitions, your organizational ability, and your efficient approach to carve a satisfying
                        niche for yourself.
                    </p>
                    <p>
                        The negative 8 can be dictatorial and often suppresses the enthusiasm and efforts of fellow member of the environment.
                    </p>
                </div>
                <div class="span12">
                    <h3><strong>Number 9 as per Numerology</strong></h3>
                    <p>
                        The number 9 suggests that you entered this plane with an abundance of dramatic feelings coupled with a strong sense of compassion and generosity. Relationships can be difficult for you because it is hard to strike a balance that will work effectively.
                        If your partner is one sharing your giving attitudes, the relationship will be happy and lasting. On the other hand, if you choose a partner whose focus is on material issues, problems will arise quickly.
                    </p>
                    <p>
                        As do all the life path numbers, the 9 has its negative side. Because of the demanding nature of the truly positive 9, many tend to fail in this category. It is not uncommon for persons with the 9 life path to fight the realities and challenges of purpose
                        imposed here because selflessness is not an easy trait.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>