<section id="content" style="background-image: url(../../assets/img/3.jpg)">
    <div class="container" style="background-color: ivory">
        <div class="row" style="margin-left: 70px">
            <div class="span12">
                <div class="row">
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-certificate icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h3>Sun Signs</h3>
                                <p>
                                    Know more about your sun signs and reveal more about your life.
                                </p>
                                <a href="#zodiac">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-bar-chart icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h3>Numerology</h3>
                                <p>
                                    Calculate your character by playing with numbers.
                                </p>
                                <a href="#numerology">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="box aligncenter">
                            <div class="aligncenter icon">
                                <i class="icon-hand-up icon-circled icon-64 active"></i>
                            </div>
                            <div class="text">
                                <h3>Palmistry</h3>
                                <p>
                                    Match your palm lines and reveal your health, wealth much more.
                                </p>
                                <a href="#palmistry">Learn more</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!--end divider -->
        <section id="form">
            <section class="callaction" style="padding:0px 0 0">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="big-cta">
                                <div class="cta-text">
                                    <h3>To find about <span class="highlight"><strong>You and Your Life</strong></span></h3>
                                </div>
                                <div class="cta floatright" style="margin-right:50px">
                                    <a href="#form"><i class="icon-rounded active icon-hand-down icon-64"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--form-->
            <div class="row">
                <div class="span5">
                    <h3 class="heading" align="center"><strong>Give your details below</strong></h3>
                    <div class="row">
                        <div class="form-group">
                            <form align="center">
                                Date of Birth: <input type="date" name="birthdate" id="birthdate"><br><br>Time of Birth: <input type="time"><br><br> Place of Birth: <input type="text"><br><br>
                                <input class="btn btn-success" type="submit" value="Submit" onclick="submitZodiacDate();getPsychic();getDestiny();">
                                <input class="btn btn-danger" type="reset" value="Reset" id="resetform" hidden>
                                <input class="btn btn-danger" type="button" value="Reset" onclick="resetInfo()">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <section id="display"></section>
                </div>
            </div>
            <div class="row">
                <section id="life"></section>
            </div>
            <div class="row">
                <div class="span5" style="margin-left: 30px">
                    <section id="psychic"></section>
                </div>
                <div class="span5" style="margin-right: -30px">
                    <section id="destiny"></section>
                </div>
            </div>
        </section>
    </div>
</section>