<footer>
    <div class="container">

        <div class="row">
            <div class="span3">
                <div class="widget">


                    <div class="span3">
                        <div class="widget">
                            <h5 class="widgetheading">Get in touch with us</h5>
                            <address>
  <strong>IINTM</strong><br>
  </address>
                            <p>
                                <i class="icon-phone"></i> 9318326267 <br>
                                <i class="icon-phone"></i> 8920949412 <br>
                                <i class="icon-envelope-alt"></i>aarzom.mittal@gmail.com<br>
                                <i class="icon-envelope-alt"></i>anjalisinghal1000@gmail.com

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; AstrologyGuru - All right reserved.</span>
                                </p>
                                <div class="credits">
                                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <ul class="social-network">
                                <li><a target="_blank" href="https://www.facebook.com/username" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                                <li><a target="_blank" href="https://www.twitter.com" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com" data-placement="bottom" title="Instagram"><i class="icon-instagram icon-square"></i></a></li>
                                <li><a target="_blank" href="https://www.gmail.com" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>