<section id="palmistry" style="background-color: beige">
    <div class="row" style="margin-top:-20px"></div>

    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h1><strong>Palm Reading</strong></h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span12">

                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="span6">
                                <h4><strong>PALMISTRY (CHINESE PALM READING)</strong></h4>
                                <p>
                                    Palmistry with the meaning of palm reading or hand prediction is to learn a person’s personalities, fortune and future by analyzing his/her hands. It is also called Chiromancy. In fact, palmistry not only refers to the reading of one’s hand or palm, it
                                    also includes the reading of arm, finger and fingernail. By reading one’s palm lines, hand shape and size, finger length and flexibility, fingernail…, we can predict his character traits, health, wealth, wisdom, career,
                                    marriage and many more aspects.
                                </p>
                                <h5><strong>Which hand to read?</strong></h5>
                                <p>
                                    Before reading your palm, you should choose the right hand to read. There are different schools of thought on this matter. Some people think the right for female and left for male. As a matter of fact, both of your hands play great importance in hand
                                    reading. But one is dominant and the other is passive. The left hand usually represents what you were born with physically and materially and the right hand represents what you become after grown up. So, the right hand
                                    is dominant in palm reading and the left for supplement.
                                </p>
                            </div>
                            <div class="span5">
                                <img src="../assets/img/palm-full.jpg" alt="palm-lines">
                            </div>
                        </div>
                        <!-- divider -->
                        <div class="row" style="background-color: red">
                            <div class="span12">
                                <div class="solidline">
                                </div>
                            </div>
                        </div>
                        <!-- end divider -->
                        <div class="row">
                            <div class="span3">
                                <img src="../assets/img/palm-life-line-1.jpg" alt="palm-life-line-1">
                            </div>
                            <div class="span8">
                                <h4><strong>Life Line</strong></h4>
                                <p>
                                    The life line is one of the three major lines (the other two are head line and heart line) in palm reading. It starts from the palm edge between the thumb and forefinger and extends to the base of the thumb.
                                </p>
                                <p>
                                    Most of the people may think the line is used to see the length of one's life. It's a partial understanding. In fact, it mainly reflects a person's physical vitality and life energy. Also, it shows if one will have accidents or serious illnesses during
                                    the whole life.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <strong>No Life Line: </strong>If other lines of your palm are clear and only the life line is absent, it's not a good sign. It indicates a poor health and a short life. You are easy to get sick or have accidents during
                                the whole life.
                            </p>
                        </div>
                        <div class="row" style="margin-left: 150px">
                            <div class="span4">
                                <img src="../assets/img/palm-life-line-2.jpg">
                            </div>
                            <div class="span6">
                                <img src="../assets/img/palm-life-line-3.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <strong>A long, deep, tender and rosy life line</strong> stands for that you are highly resistant to disease. On the contrary, the short life line shows you are susceptible to illness.
                            </p>
                            <p>
                                <strong>A thick and clear life line</strong> indicates that you are suited to a life of physical labor and are good at sports. Conversely, a shallow and vague line shows that you are good at using mind.
                            </p>
                            <p>
                                <strong>A swooping semicircular life line</strong> around the base of the thumb shows that you are full of vigor and energy. On the contrary, if the line is cramped that sticks close to the thumb straightly, it predicts
                                that you have limited energy and are easy to get tired.
                            </p>
                        </div>
                        <!-- divider -->
                        <div class="row" style="background-color: red">
                            <div class="span12">
                                <div class="solidline">
                                </div>
                            </div>
                        </div>
                        <!-- end divider -->
                        <div class="row">
                            <div class="span3">
                                <img src="../assets/img/head-line.jpg" alt="head-line">
                            </div>
                            <div class="span8">
                                <h4><strong>Head Line</strong></h4>
                                <p>
                                    The head line (also wisdom line or intelligent line) is the second important line in palm reading. It starts from the palm edge between the thumb and forefinger, and extends across the palm in the middle part with the life line below and the heart line
                                    above.
                                </p>
                                <p>
                                    The head line reveals a person's wisdom, belief, attitude, thinking ability, strain capacity, creative ability as well as abilities of memory, self-control and more. In general, a deep and thin head line is good for a person. If you have such a line,
                                    it indicates you are smart. Also, the length, bending degree, chains, donuts, branches, crossing, and stars of the head line convey different meanings.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 150px">
                            <div class="span3">
                                <img src="../assets/img/head-line-1.jpg">
                            </div>
                            <div class="span3">
                                <img src="../assets/img/head-line-2.jpg">
                            </div>
                            <div class="span3">
                                <img src="../assets/img/head-line-3.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <strong>Long: </strong>If the line extends and ends under the small finger, it's regarded as a long line. If you have such a line, it shows that you have a very clear mind. You are responsive, good at thinking and more
                                considerate than others. At the same time, you are easy to think too much and get into a blind alley.
                            </p>
                            <p>
                                <strong>Medium: </strong> If your head line extends to the ring finger, it is of medium length. Most of the people belong to this kind. You are also smart and brilliant. Sometimes, you even have a higher ability of doing
                                things than those with a long head line.
                            </p>
                            <p>
                                <strong>Short: </strong>A small part of the person has a short head line which only extends under the middle finger. If you belong to this kind, you are usually slow to respond, hasty, careless, indecisive and impulsive.
                                However, your advantage is that you could finish the assigned task in a systematic way.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>