<section id="about" style="background-color: bisque">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <h1><strong>About Us</strong></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span6">
                <h2>Welcome to <strong>AstrologyGuru</strong></h2>
                <p>
                    Astrology is a pseudoscientific divination system that studies the movements and relative positions of celestial objects and their supposed influence on human affairs.
                </p>
                <p>
                    In Western astrology, astrological signs are the twelve 30° sectors of the ecliptic, starting at the vernal equinox (one of the intersections of the ecliptic with the celestial equator), also known as the First Point of Aries. The order of the astrological
                    signs is Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius and Pisces. Each sector is named for a constellation it passes through.
                </p>
                <p>
                    Numerology is any belief in the divine or mystical relationship between a number and one or more coinciding events.[2] It is also the study of the numerical value of the letters in words, names, and ideas. It is often associated with the paranormal, alongside
                    astrology and similar divinatory arts.
                </p>
            </div>
            <div class="span5">
                <!-- start flexslider -->
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="../../assets/img/numerology.jpg" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/palmistry.jpg" alt="" />
                        </li>
                        <li>
                            <img src="../../assets/img/2.jpg" alt="" />
                        </li>
                    </ul>
                </div>
                <!-- end flexslider -->
            </div>
        </div>
        <!-- divider -->
        <!-- <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div> -->
        <!-- end divider -->
        <div class="row">
            <div class="span12">
                <h2>Contributors</h2>
            </div>
            <div class="span3">
                <img src="../assets/img/aarzoo1.jpg" alt="" class="img-polaroid" />
                <div class="roles">
                    <p class="lead">
                        <strong>Aarzoo Mittal</strong>
                    </p>
                </div>
            </div>
            <div class="span3">
                <img src="../assets/img/anjali.jpeg" alt="" class="img-polaroid" />
                <div class="roles">
                    <p class="lead">
                        <strong>Anjali Singhal</strong>
                    </p>

                </div>
            </div>

        </div>
        <!-- divider -->
        <div class="row">
            <div class="span12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->