<div id="wrapper">

    <!-- start header -->
    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5" style="background-image: url(../../assets/img/headerbg.jpg)">
        <div class="row">
            <!-- <div class="span4">
                <div class="logo">
                    <img src="../assets/img/ag-logo.jpg">
                </div>
                <div class="logo">
                    <h1 style="-webkit-text-fill-color: cyan"><strong>AstrologyGuru</strong></h1>
                </div>
            </div> -->
            <div class="span12">
                <div class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(0,0,0,0.5)">
                    <div class="logo">
                        <img src="../assets/img/ag-logo.jpg">
                        <!-- </div>
                    <div class="logo"> -->
                        <h1 style="-webkit-text-fill-color: cyan"><strong>AstrologyGuru</strong></h1>
                    </div>
                    <div class="navigation">
                        <nav id="nav-main">
                            <ul class="nav topnav">
                                <li class="dropdown active">
                                    <a href="#banner"><strong style="-webkit-text-fill-color: cyan">Home</strong></a>
                                </li>
                                <li><a href="#numerology"><strong style="-webkit-text-fill-color: cyan">Numerology</strong></a></li>
                                <li><a href="#zodiac"><strong style="-webkit-text-fill-color: cyan">Zodiac Signs</strong></a></li>
                                <li><a href="#palmistry"><strong style="-webkit-text-fill-color: cyan">Palmistry</strong></a></li>
                                <li><a href="#about"><strong style="-webkit-text-fill-color: cyan">About us</strong></a></li>
                                <li><a href="#contact"><strong style="-webkit-text-fill-color: cyan">Contact</strong> </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>